@charset "UTF-8";

body {
  background-color: rgba(80, 80, 241, 0.993);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.404);
}

div {
  padding: 8px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  padding: 15px;
}

img {
  height: 220px;
  width: 220px;
  border-radius: 500%;
  display: block;
  margin: auto;
}
